.card{
  width:fit-content;
  padding:2%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.img{
  background-image:url("../../assets/SYSS.png");
  background-position: center;
  height:594px;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: center;
}
.forgotpass{
  text-decoration: unset;
  color:red;
  font-weight: 500;
  margin: 5px;
  justify-content: center;
  display: flex;
}
.newacc{
  text-decoration: unset;
  color:red;
  cursor: pointer;
  padding: 0%;
  justify-content: center;
  display: flex;
}
.loginbutton{
  justify-content: center;
  display: flex;
}
.emailpass{
  font-family: 'Times New Roman', Times, serif;
  font-weight:500;
  font-size:medium;
  color: black;
}
.login{
  font-family:'Times New Roman', Times, serif;
  font-weight:500;
  font-size:xx-large;
  padding: 25px;
  padding-bottom: 0px;
}
.notregistered{
  text-align: center;
}