<img src="https://marketing.dcassetcdn.com/blog/2016/April/tips-for-freelancers/DevelopSkills_828x300.jpg" width="180px" class="ml-3">
<!--Navbar-->
<div class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button data-toggle="collapse" data-target="#menu" class="navbar-toggler text-align-right" type="button" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="menu" class="collapse navbar-collapse">
    <div class="col-sm-10">
      <ul class="navbar-nav">
        <li class="nav-item mr-3">
          <a class="nav-link text-white" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link text-white">Courses</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link text-white">Instructions</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link text-white">AboutUs</a>
        </li>
       
      </ul>
    </div>
    <div class="col-sm-2  mt-2">
      <button class="btn text-white bg-danger mr-2 " type="button"  data-target="#Form" data-toggle="collapse" >LogIn</button>
      <button class="btn text-white bg-danger ">SignUp</button>
    </div>

    </div>
  </div>
  
  <!--ROW-->
  
    
  
    <!--COL-3-->
    <div class="row">
    <div class="col-xs-4 "></div>
     <!--COL-6-->
    <div class="col-xs-4">
      
          
          
            <div id="Form" class="card card-body bg-light mb-3 border-secondary  text-dark collapse">
              <div class="h2 text-center text-dark">Login</div>
            <!--Form-->
            <form>
              <!--UsernameE Field-->
              <div class="form-group">
                <div class="h4">Username:</div>
                <div class="input-group" >
                  <input type="text or email" class="form-control" id="username" placeholder="Username">
                  <label for="username" class="input-group-addon glyphicon glyphicon-user"></label>
                </div>
              </div>
              <!--Password Field-->
              <div class="form-group">
                <div class="h4">Password:</div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" id="password" placeholder="Password">
                  <label for="password" class="input-group-addon glyphicon glyphicon-lock"></label>
                </div> 
                
               </div> 
              <!--Checkbox-->
              <div class="checkbox">
                <label>
                  <input type="checkbox" style="color: rgb(252, 252, 252);"> 
                  <span class="h5">Remember me</span>
                </label>
              </div> 
              <!--Login Button-->
              <div class="text-center">
                <button type="button" class="btn bg-danger text-white text-center">Login</button>
              </div>
              <div class="h5 text-center">
                <a href="#" style="text-decoration: unset;">Forgot Password?</a>
              </div>
              
              <br>
              <span class="h5">Not Registered?<a href="#" style="text-decoration: unset; color: tomato;">Click here to create an account</a></span>
            </form>  
          </div>
        
        
      
      
    </div>
    <div class="col-xs-4"></div>
  </div>

  <br>


<div>
  <router-outlet></router-outlet>
</div>

 
 
