
.sign_up_form{
   
    padding-top: 20px;
    padding-bottom: 20px;
    //margin-left: 77%;
    text-align:center;
    border-color:white;
    width: fit-content;
 
}
.sign_up_form h1{
    color: rgb(24, 24, 82);
    margin-bottom: 30px;
}
.sign_up_btn{
  
    width: 80px;
    padding: 6px;
    cursor: pointer;
    outline: none;
    background-color: rgb(113, 197, 223);
}
.input-box{
    border-radius: 5px;
    margin: 10px 1px;
    outline: none;
    padding: 7px;
    width: 100%;
    border: 1px solid #000000;
}
a{
    cursor:pointer ;
}

img{
    border-radius: 5px;
    height:462px;
    width:95%;
}
