<div class="sign_up_form">
  <h1>Sign Up Form</h1>
  <form>
    <input type="text" class="input-box" placeholder="First Name" />
    <input type="text" class="input-box" placeholder="Last Name" />
    <input type="email" class="input-box" placeholder="Email" />
    <input type="password" class="input-box" placeholder="Password" />
    <input type="password" class="input-box" placeholder="Confirm Password" />
    <p>Already have an account?<a href=""> Login</a></p>
    <button type="button" class="sign_up_btn">Sign Up</button>
  </form>
</div>
